<html>
    <head>
        <title>Addfish's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Addfish's Blog</a></h1> {# Your blog title #}
        </div>

        {% for post in posts %} {# Loop through each post object passed from the view #}
            <div>
                <p>published: {{ post.published_date }}</p> {# Display the actual published date from the post object #}
                <h2><a href="">{{ post.title }}</a></h2> {# Display the actual title from the post object #}
                <p>{{ post.text|linebreaksbr }}</p> {# Display the actual text from the post object, with line breaks converted #}
            </div>
        {% endfor %}

    </body>
</html>